/*
File name: slotmachine-master
Author's name: Aileen Nicole Alapan
Student Number 301108374
Web site name: Slot Machine
File description: COMP125 Assignment 4
*/
ul#playerStats {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}