ul#playerStats {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

body
{
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
}

#canvas
{
    margin-left: auto;
    margin-right: auto;

}
